@import url(https://fonts.googleapis.com/css?family=Sigmar+One);

body {
  font-family: Times, serif;
  font-size: 14pt;
  margin: 2% 10%;
  background-image: linear-gradient(to right, #B4DBFA , #C8F585);
}

.hidden {
  display: none;
}

textarea,
input[type=text] {
  font-size: 14pt;
}

textarea {
  height: 100px;
  width: 300px;
}

#status {
  color: green;
}

h2 {
  font-size: 14pt;
}

#error {
  color: red;
}

#picture {
  width: 200px;
}

#result-wrapper {
  height: 200px;
  margin-bottom: 50px;
}

#result {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}

#result section {
  display: block;
  display: flex;
  padding:  5px;
  padding-left:  30px;
  align-items: center; 
}

#res1 {
  grid-column: 1 / 2;
}

#res2 {
  grid-column: 2 / 3;
}

#word {
  font: 20pt 'sigmar one';
}

.pokemon-team {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#image {
  right: 10%;
  position: absolute;
  bottom: 10%;
}