@import url(https://fonts.googleapis.com/css?family=Sigmar+One);

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #B4DBFA , #C8F585);
  overflow-y: hidden;
}

.container {
  margin:  auto;
  position: relative;
  height: 100vh;
}

.balls {
  border-radius: 0%;
  position: absolute;
  left: 55vh;
  top: 10%;
  animation-name: jump;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes jump {
  40% {
    top: 30%;
  }
}

#pokeball {
  width: 400px;
}

h1 {
  font: 70px 'sigmar one';
  text-align: center;
  color: black;
}