@import url(https://fonts.googleapis.com/css?family=Sigmar+One);

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #B4DBFA , #C8F585);
}

.container {
  margin:  5% 20%;
  position: relative;
  height: 80vh;
  text-align: center;
}

.balls {
  border-radius: 0%;
  position: absolute;
  top: 30%;
  animation-name: jump;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes jump {
  40% {
    top: 40%;
  }
}

#pokeball {
  width: 50%;
}

h1 {
  font: 40px 'sigmar one';
  color: black;
}

@media only screen and (min-width: 751px) and (max-width: 1000px) {
  h1 {
    font: 55px 'sigmar one';
  }
}

@media only screen and (min-width: 1001px) {
  h1 {
    font: 70px 'sigmar one';
  }
}